doctype 5
html
  head
    title Escaped fragment test page
    meta(name="viewport", content="width=device-width, initial-scale=1")

    script(src="/components/jquery/jquery.min.js")
    script(src="/components/angular/angular.min.js")

    script(src="/app.js")

  body(data-ng-app="EscapedFragmentExampleApp")

    .container(data-ng-view)

    a(href="#!/escaped-fragment") Escaped fragment
